/* Scss Document */
/* Scss Document */
/* line 4, _color.scss */
.huge {
  font-size: 10em;
  font-weight: thin;
  text-decoration: underline;
}

/* line 5, style.scss */
#main {
  color: #fff;
  background-color: #000;
}
/* line 8, style.scss */
#main p {
  width: 10em;
}

/* line 12, style.scss */
.class {
  height: 100px;
  width: 10px;
}
